<!DOCTYPE html>
<html>
<head>
<title>X数据统计</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="w3css/4/w3.css" />
<script src="jquery/3.2.1/jquery.min.js"></script>
<script src="bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- Content -->
	<div class="container" id="myPageContent">
		<h1>X数据统计</h1>
	</div>

	<script type="text/javascript">
		
	</script>
</body>
</html>